# --- Core Hardware & OS ---
CONFIG_ARM_MPU=y
CONFIG_HW_STACK_PROTECTION=y
CONFIG_TRUSTED_EXECUTION_SECURE=y
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=150000000
CONFIG_CLOCK_CONTROL=y

# --- Floating Point Math (CRITICAL FOR FOC) ---
CONFIG_FPU=y
CONFIG_FPU_SHARING=y

# --- Console & Debugging ---
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_STDOUT_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_UART_INTERRUPT_DRIVEN=y
CONFIG_UART_MCUX_LPUART=y

# --- Base Peripherals ---
CONFIG_GPIO=y